**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/npm-debug.log
**/.classpath
**/.project
**/.c9/
**/*.swp
**/*~.nib
**/.settings/
**/*.sublime-workspace
**/.idea/
**/*.iml
**/target/
**/.m2/
**/*.jar
**/.gradle/
**/.gradletasknamecache/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.idea
**/.vscode
**/venv/
**/__pycache__/
**/.pytest_cache/
**/coverage/
**/.nyc_output/
**/dist/
**/build/
**/coverage.txt
**/.DS_Store
**/Thumbs.db
uploads/
payslips/
README.md
LICENSE
